@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Teko:wght@300..700&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'teko';
}

header{
  background-color: #08163B;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
header> .logo{
  width: 100px;
  height: 100px;
  margin-right: 200px;
}
header>div{
  display: flex;
  justify-content: center;
  gap: 50px;

}

li{
  list-style: none;
  
}
li > a{
  text-decoration: none;
  color: #fff;
  font-size: 23px;
  transition: all 0.5s;
  
}
a{
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
  
}
a:hover{
  color: chocolate;
}



.headline{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ddd;
}
/* 
.login-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ddd;
    gap: 20px;
  }

  .login-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 0 50px;
    font-size: 13px;
    cursor: pointer;
  } */
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  label{
    font-size: 30px;
    font-weight: bold;
  }

  input{
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid gray;
    font-size: 15px;
  }

  
.cart-btn{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  
}
.cart-btn:hover{
  background: lightcyan;
}
.cart-btn :focus{
  outline: none;
}
/* Off canvas */
#view-cart{
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: color 0.5s;
}
#view-cart:hover{
  color: aquamarine;
}
.off-canvas{
  background-color: #08163B;
  color: white;
  width: 33%;
  position: fixed;
  top: 0;
  right: -40%;
  height: 100dvh;
  padding: 20px;
  transition: right 1s;
  z-index: 500;
  display: flex;
  justify-content: space-between;
}
.show-off-canvas{
  right: 0 !important;
}
.off-canvas h2{
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;

}
.close-icon{
  margin-top: 5px;
  margin-right: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
}
.close-icon:hover{
  color: rgb(165, 122, 42);
}

.off-canvas-overlay{
  display: none;
  height: 100dvh;
  width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 9;
  opacity: 0.4;
}
.show-off-canvas-overlay{
  display: block !important;
}